debug.baseLangList.json
debug.fullTree.json
debug.navigation.json
debug.paths.json

viewer/assets/
!viewer/assets/placeholder
.dev/pb_data/**/*
.dev/pb_public/**/*

viewer/.vitepress/dist
viewer/.vitepress/cache

.env
.env.vitepress
.hochhuth/
aisearch/**/*.pyc
aisearch/_debug_*.json
