.p-tree .p-tree-container .p-treenode {
    margin: 0;
    padding: 0;
}

.p-tree .p-tree-container .p-treenode .p-treenode-content {
    padding: 0rem;
}

.p-tree {
    border: none;
    padding: 0;
}

.darkmode .p-tree {
    background-color: #343434;
}

.p-dropdown .p-inputtext {
    padding: 10px;
}

.p-button.p-button-icon-only {
    width: auto !important;
}

.node-dragover {
    background-color: var(--surface-100);
}


.p-inputtext.p-component :not(.p-input-icon-left) {
    padding: 10px;
}

:root {
    --primary-color: #781a6d !important;
    --primary-50: #57355e !important;
    --primary-100: rgb(235, 184, 220) !important;
    --primary-200: rgb(203, 133, 182) !important;
    --primary-300: rgb(190, 111, 167) !important;
    --primary-400: rgb(181, 105, 158) !important;
    --primary-500: rgb(153, 88, 134) !important;
    --primary-600: rgb(135, 81, 119) !important;
    --primary-700: rgb(113, 69, 100) !important;
    --primary-800: rgb(81, 53, 73) !important;
    --primary-900: rgb(60, 31, 52) !important;
}