__pycache__/
.env
./*.mp3
./*.wav
*.json
.DS_Store
.venv
working/extracted/*.wav
working/extracted/*.mp3
working/uploads/*.webm
working/uploads/*.mp4
working/tts/*.mp3
working/tts/*.wav
working/rawvideos/*.webm
working/rawvideos/*.webm
working/export/*.mp4
working/export/*.webm
Pipfile
log.txt
*.mp4
